<div id="miscDetailModal" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">
					<span>&times;</span>
				</button>
				<h4 class="modal-title">{{selectedMisc.name}}</h4>
			</div>
			<div class="modal-body">
				<p><span class="detailLabel">Type:</span>{{selectedMisc.type}}</p>
				<p><span class="detailLabel">Use: </span>{{selectedMisc.use}}</p>
				<p><span class="detailLabel">Notes: </span>{{selectedMisc.notes}}</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">
					Close
				</button>
			</div>
		</div>
	</div>
</div>